// Button

.button {
  display: inline-block;
  font-size: 18px;
  font-weight: $font-bold;
  text-transform: uppercase;
  text-align: center;
  vertical-align: middle;
  border: none;
}

.button--error,
.button--success {
  padding: 23px;
  color: $white;
  background-color: $bottom-bg-color;
  border: 2px solid $bottom-bg-color;
  border-radius: 1px;

  &:hover {
    background: $bottom-bg-color--hover;
    border-color: $bottom-bg-color--hover;
  }

  &:active {
    color: rgba($white, 0.3);
  }
}

.button--error {
  margin: 0 20px 50px;

  @media (min-width: $tablet-width) {
    margin-left: 80px;
    margin-right: 80px;
  }
}

.button--success {
  width: 100%;
}
