.gallery__wrapper {
  width: $mobile-width;
  margin: 0 auto;
  padding: 0 20px;
}

.gallery__title {
  margin-top: 54px;
  margin-bottom: 60px;
  font-size: 14px;
  line-height: 30px;
  font-weight: 400;
  text-align: center;
}
