.header {
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  min-height: 733px;
  background-color: $blue--dark-extra;
  background-image:
    url("../img/phone-mobile.png"),
    url("../img/back-mobile.jpg");
  background-position:
    center 176px,
    center 0;
  background-repeat:
    no-repeat,
    no-repeat;
  color: $white;

  @media (min-width: $tablet-width) {
    display: block;
    background-image:
      url("../img/phone-tablet.png"),
      url("../img/back-tablet.jpg");
    background-position:
      center bottom,
      center bottom;
    background-repeat:
      no-repeat,
      no-repeat;
  }

  @media (min-width: $desktop-width) {
    background-image:
      url("../img/phone-desktop.png"),
      url("../img/back-desktop.jpg");
    background-position:
      center bottom,
      center bottom;
    background-repeat:
      no-repeat,
      no-repeat;
  }
}

.header__wrapper {
  width: $mobile-width;
  margin: 0 auto;
  padding: 0 20px;

  @media (min-width: $tablet-width) {
    width: $tablet-width;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    justify-content: space-between;
    width: $desktop-width;
    padding: 0 130px;
  }
}

.header__title {
  margin: 0 auto;
  font-size: 24px;
  line-height: 32px;
  font-weight: 300;
  text-align: center;

  @media (min-width: $tablet-width) {
    width: 300px;
    margin-left: 0;
  }
}
