.header {
  background-color: #1e3246;
  color: $white;
}

.header__wrapper {
  width: $mobile-width;
  margin: 0 auto;
  padding: 0 20px;

  @media (min-width: $desktop-width) {
    display: flex;
    justify-content: space-between;
    width: $desktop-width;
  }
}

.header__top-menu {
  padding-top: 21px;
  padding-bottom: 21px;
  background-color: rgba(#000000, 0.3);
}
