.image-editor__wrapper {
  width: $mobile-width;
  margin: 0 auto;
  padding: 0 20px;
}

.image-editor__title {
  margin-top: 49px;
  margin-bottom: 52px;
  font-size: 14px;
  line-height: 30px;
  font-weight: 400;
  text-align: center;
}

.img-editor-form {
  padding-top: 20px;
  background-color: #f2f2f2;
}

.img-editor-form__list-function {
  margin: 0;
  margin-top: 42px;
  padding: 0;
  list-style: none;
}

.img-editor-form__item {
  border-bottom: 1px solid rgba($grayblue, 0.3);
}

.img-editor-form__item-icon {
  margin-bottom: 5px;
  padding: 0;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.img-editor-form__item-range-bar {
  position: relative;
  margin: 34px 20px;
  height: 2px;
  background-color: $grayblue;
}

.img-editor-form__item-range-toggle {
  position: absolute;
  top: -5px;
  left: 180px;
  width: 10px;
  height: 10px;
  background-color: #ffffff;
  border: 2px solid #d22856;
  border-radius: 50%;
  cursor: pointer;
}

.img-editor-form__btn {
  width: 100%;
  padding-top: 18px;
  padding-bottom: 18px;
  background-color: transparent;
  text-transform: initial;
  border-radius: 30px;
  cursor: pointer;
}

.img-editor-form__btn--submit {
  margin-top: 38px;
  margin-bottom: 12px;
  color: #d22856;
  border: 3px solid #d22856;

  &:hover {
    color: $white;
    background-color: #d22856;
  }

  &:active {
    color: rgba($white, 0.3);
  }
}

.img-editor-form__btn--reset {
  margin-bottom: 41px;
  color: $grayblue;
  border: 3px solid #283645;
  opacity: 0.1;

  &:hover {
    opacity: 0.3;
  }

  &:active {
    color: $white;
    background-color: #283645;
  }
}
