.nav__list {
  margin: 0;
  padding: 0;
  list-style: none;

  @media (min-width: $desktop-width) {
    display: flex;
  }
}

.nav__link {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  line-height: 32px;
  font-weight: bold;
  color: $white;
  text-decoration: none;
  text-transform: uppercase;

  @media (min-width: $desktop-width) {
    font-size: 18px;
    line-height: 18px;
    font-weight: normal;
    text-transform: capitalize;
  }
}
