.page {
  height: 100%;
  font-family: $deafult-font;
  font-size: $default-font-size;
  line-height: 24px;
  font-weight: 400;
}

.page__body {
  width: 320px;
  min-height: 100%;
  margin: 0 auto;
  color: $blue--darken;
  background-color: $white;

  @media (min-width: $tablet-width) {
    width: 660px;
  }

  @media (min-width: $desktop-width) {
    width: 1200px;
  }
}
