.page {
  height: 100%;
  font-family: $deafult-font;
  font-size: $default-font-size;
  font-weight: $font-normal;
  line-height: 24px;
}

.page__body {
  min-height: 100%;
  margin: 0;
  background-color: $white;
  color: $font-normal;
}
