// Reviews

.reviews {
  line-height: 30px;
  background-color: $white;
  text-align: center;
}

.reviews__wrapper {
  width: $mobile-width;
  margin: 0 auto;
  padding: 0 20px;
}

.reviews__author-name {
  font-size: 18px;
  font-style: normal;
  font-weight: $font-bold;
  color: $black;
}

.reviews__author-info {
  margin: 0;
}
