// VARIABLES

// FONTS

// Font: Base styles

$deafult-font: "Open Sans", "Arial", sans-serif;
$default-font-size: 14px;

// Font: Weight

$font-light: 300;
$font-normal: 400;
$font-bold: 700;

// COLORS

// Colors: Common

$white: #ffffff;
/*----------*/
$black: #000000;
/*----------*/
$blue: #2dabe2;
$blue--darken: #283645;
$blue--dark: #252527;
$blue--dark-extra: #1d2631;
/*----------*/
$pink: #d22856;
/*----------*/
$orange: #f05423;
$orange--light: #f25b26;
/*----------*/
$gray: #e5e5e5;
$gray--lighten: #dedede;
$gray--light: #f2f2f2;
$gray--extra-light: #efefef;
/*----------*/
$green--darken: #2aab6d;
$green--dark: #1c9b5e;
$green: #3dc644;
$green--lighten: #84c441;
$green--light: #a4c639;
/*----------*/
$yellow: #f9bc15;

// Colors: Button

$bottom-bg-color: $green--darken;
$bottom-bg-color--hover: $green--dark;

// Colors: Link

$link-color: $pink;
$link-color--hover: $blue--darken;

// Colors: Form

$legend-color: $pink;
$label-color: $pink;
$input-color: $gray;
$input-color--hover: $blue--darken;
$input-color--focus: $pink;

// VIEWPORTS

$mobile-width: 280px;
$tablet-width: 620px;
$desktop-width: 940px;
