// Global

@import "global/normalize.scss";
@import "global/fonts.scss";
@import "global/variables.scss";
// @import "global/mixins.scss";
@import "global/global.scss";

// Blocks

@import "blocks/page.scss";
@import "blocks/main.scss";
@import "blocks/header.scss";
@import "blocks/nav.scss";
@import "blocks/logo.scss";
@import "blocks/downloads.scss";
@import "blocks/advantages.scss";
@import "blocks/reviews.scss";
@import "blocks/slider.scss";
@import "blocks/rates.scss";
@import "blocks/contacts.scss";
@import "blocks/footer.scss";
@import "blocks/social.scss";
@import "blocks/copyright.scss";
@import "blocks/contest-form.scss";
@import "blocks/button.scss";
@import "blocks/modal.scss";
@import "blocks/gallery.scss";
@import "blocks/gallery-item.scss";
@import "blocks/image-editor.scss";
@import "blocks/img-editor-form.scss";
